{{> head}}
{{> navbar}}

<div class="container mt-5">
    <div class="row">
    <div class="col-md-8">
        <h1>Title</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolorem quos culpa, omnis libero praesentium, molestiae ab possimus deleniti, rem similique consectetur et nemo quidem quam saepe. Nulla, voluptatem culpa.
        </p>
    </div>
    <div class="col-md-4">
        <img src="../assets/img/photo-of-person-holding-dj-controller-1493004.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
</div>
</div>

{{> footer}}